<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Material</title>
</head>
<body>
    <h1>Detalle del Material</h1>
    <table>
        <tr><th>ID</th><th>Nombre</th><th>Serie o Modelo</th><th>Cantidad</th><th>Precio Individual</th><th>Precio Total</th></tr>
        <tr>
            <td>{{ elemento.0 }}</td>
            <td>{{ elemento.1 }}</td>
            <td>{{ elemento.2 }}</td>
            <td>{{ elemento.3 }}</td>
            <td>{{ elemento.4 }}</td>
            <td>{{ elemento.5 }}</td>
        </tr>
    </table>
</body>
</html>
